  

       
 body{
  
   overflow:auto;
   background-image:linear-gradient(270deg, #F0DDFF, #ffffff); 
width:100%;
height:100%;
 margin:0;
 
 }
 .com{
position:sticky;
   z-index: -1;
   font-size:14px;
      -webkit-animation: bottom 3.5s alternate-reverse ease-in-out 0s 1 forwards;
 }
  .company{
    position:sticky;
    z-index: -1;
       -webkit-animation: bottom 3s alternate-reverse ease-in-out 0s 1 forwards;
 
  }
  .container{
 
    z-index: -1;
       -webkit-animation: bottom 1s alternate-reverse ease-in-out 0s 1 forwards;
  text-align: center;
  width:100%;
  height:auto;
  }
  .container2{
  position:sticky;
    z-index: -2;
       -webkit-animation: bottom 2.5s alternate-reverse ease-in-out 0s 1 forwards;
  text-align: center;
  width:100%;
  height:auto;
  }
  .content{

    z-index: -1;
    text-align:left;
    width:100%
    height:auto;
  }
   .crav{
  
     z-index: -1;
 color:blue;
 font-size:18px;
 font-family: 'Brush Script MT', cursive;
 }
  .foot{
    position:sticky;
    z-index: -1;
   font-size: 12px;
 }
 footer{
   position:sticky;
   z-index: -1;
   width:100%;
   text-align:center;
   justify-content: center;
   align-content: center;
 }
  img{
    filter:saturate(150%);
  }
   .koko{
     z-index: -1;
     font-size:18px;
  color: #FFD700;
   font-family: 'Brush Script MT', cursive;
 }
 p{
   position:sticky;
   z-index: -1;
   margin-left:3%;
 font-family: 'Times New Roman', serif;
 }
.profile-pic{
margin-top:5%;
  width:150px;
  height:150px;
  border-radius:22500px;
  text-align:center;
}
.profile-pict{
margin-top:5%;
  width:150px;
  height:150px;
  border-radius:22500px;
  text-align:center;
}
.photo{
  width:100%;
  height:auto;
  border-radius:0px;
  margin:0;
}

.own{
 position:sticky;
  z-index: -1;
     -webkit-animation: bottom 2s alternate-reverse ease-in-out 0s 1 forwards;
  font-size:14px;
}
.owner{
  position:sticky;
  z-index: -1;
     -webkit-animation: bottom 1.5s alternate-reverse ease-in-out 0s 1 forwards;
}
.lightbox {
         visibility: hidden; 
         display: table; 
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 1.0); 
      }
      .lightbox:target {
         visibility: visible;
      }
      .lightbox-content {
        position:relative;
        overflow:hidden;
        height:100vh;
        padding-top:20%;
         display: table-cell;
         vertical-align: left; 
         text-align: center;
      }
     
      @-webkit-keyframes bottom{
  to{
  -ms-webkit-transform:translate(0px, 1000px);
  -webkit-transform:translate(0px, 1000px);
  transform:translate(0px, 1000px);
}
}